:root {
    --altura-header: 20vh;
    --altura-artícle: 30vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    align-items: center;
    
}